.nav-container {
  margin: 80px auto 0 auto;
  text-decoration: none;
  color: white;
}

.nav-container a:focus,
.nav-container a:hover,
.nav-container a:visited,
.nav-container a:link,
.nav-container a:active {
  text-decoration: none;
  color: white;
}
