.form-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 62px);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.form {
  display: flex;
  width: 100%;
  height: inherit;
  align-items: center;
  justify-content: center;
}

.movie-search {
  flex-grow: 1;
  max-width: 40vw;
  height: 5vh;
  font-size: 2rem;
  border-radius: 40px;
  margin: 10px;
  border: none;
  padding: 10px;
}

.search-button {
  height: 7vh;
  border: none;
  font-size: 1.5rem;
  border-radius: 45px;
}

.search-button:hover {
  background-color: black;
  color: white;
}

.input-container {
  padding: 10px;
  display: flex;
  background-color: rgb(54, 54, 54);
  height: max-content;
  width: 47vw;
  border-radius: 60px;
  align-items: center;
  justify-content: center;
}
